/* --------------------Générale------------------*/

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  color: #21243d;
}

/* --------------------Navigation------------------ */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
  margin: auto;
}

#nav-links {
  display: flex;
  gap: 65px;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}

/* --------------------Header------------------ */
header {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 75px auto;
}

h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 0;
}

#button-cv {
  background-color: #ff6464;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 2px;
}

#subtitle {
  font-size: 16px;
  margin: 30px 0;
}

#header-content {
  width: 630px;
}

/* --------------------Blog------------------ */
#blog {
  background-color: #edf7fa;
  padding-bottom: 35px;
}

#blog-content {
  width: 1200px;
  margin: auto;
}

h2 {
  font-weight: 400;
  font-size: 22px;
  padding-top: 20px;
}

#articles {
  display: flex;
  justify-content: space-between;
}

.article-blog {
  background-color: white;
  border-radius: 4px;
  width: 543px;
  padding: 10px 20px;
  box-sizing: border-box; /* la taille de l'élément comprend la padding */
}

.article-title {
  font-size: 26px;
}
.date-categorie {
  font-size: 18px;
  display: flex;
  gap: 25px;
}

.article-description {
  font-size: 16px;
}

/* --------------------Projets------------------ */
#projets {
  width: 1200px;
  margin: auto;
}

.projet {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.projet-image {
  max-width: 150px;
  height: auto;
  display: flex;
  align-items: center;
  padding: 5px;
}

.bloc-image {
  padding-right: 25px;
}

.projet-title {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.date-type {
  display: flex;
  gap: 25px;
}

.projet-date {
  background-color: #142850;
  border-radius: 16px;
  color: white;
  font-weight: 900;
  font-size: 18px;
  width: 62px;
  height: 25px;
  text-align: center;
}

.projet-type {
  color: #8695a4;
  font-size: 20px;
}

.projet-description {
  font-size: 16px;
}

/* --------------------Contact------------------ */

#contact {
  width: 1200px;
  margin: auto;
}

#contact-content {
  display: flex;
  gap: 40px;
}

#coordonnees {
  flex: 1;
}

/* Partie de gauche du contact */

.contact-title {
  font-weight: 800;
  font-size: 36px;
}

#contact-intro {
  font-size: 20px;
}

#email {
  font-size: 16px;
}

.socials-links {
  font-size: 16px;
  color: black;
}

/* Partie de droite du contact */

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 10px;
}

label {
  font-size: 14px;
}

input,
select,
textarea {
  background-color: #f7f7f7;
  border: none;
  height: 46px;
}

textarea#message {
  height: 160px;
}

button {
  background-color: black;
  color: white;
  border: none;
  height: 56px;
}
/* --------------------Footer------------------*/

footer {
  padding-top: 100px;
  text-align: center;
  padding-bottom: 20px;
}

#icon-socials {
  display: flex;
  justify-content: center;
  gap: 25px;
}

#icon-socials img {
  width: 30px;
  height: 30px;
}

#copyright {
  font-size: 14px;
  color: #212430;
}
